.o1{outline: 2px solid red;}
.o2{outline: 2px solid #0f0;}
.o3{outline: 2px solid blue;}
.o4{outline: 2px solid yellow;}
.o5{outline: 2px solid magenta;}
body{
    margin: 0;
    background-repeat: no-repeat;
    background: radial-gradient(at top, #f7f6f5, #ada6a0);
}
.container{
    width: 1000px;
    margin: 0 auto;
}
.container__header{
    margin: 15px 0 0 0;
}
.header{
    text-align: center;
}
.header__logo{
    display: inline-block;
}
.logo{}
.logo__image{
    vertical-align: bottom;
}
.container__navigation{
	margin: 15px 0 0 0;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
	padding: 5px;
    background: white;
    box-shadow: 0 0 5px #000;
}
.navigation__menu{
    display: inline-block;
}
.menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
 }
 .menu__item:hover {
    color: white;
    background: #d6d3cf54;
	transition: all 0.8s;
}
.menu__item{
    display: inline-block;
    font-size: 12pt;
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-stretch: initial;
}
.menu__link{
    display: inline-block;
	padding: 17px 43px;
    text-decoration: none;
    color: #888;
}
.navigation__seach{width: 275px;height: 100%;}
.seach{
    display: flex;
    align-items: stretch;
    margin: 10px;
    padding: 0 10px 0 0;
    box-sizing: border-box;
    border: 2px;
    background: #fafafa;
    border-radius: 3px;
    border-color: #f4f4f4;
    border-style: solid;
    background-color: #fafafa;
}
.seach__box{
	height: 35px;
	width: 85%;
	margin: 0 0 0 15px;
	padding: 0;
	vertical-align: middle;
	border: 0;
	outline: 0;
	color: #9e9e9e57;
	background: none;
	font-size: 12pt;
}

.seach__box::placeholder {
    color: red;
    font-style: italic;
}
.seach__buttom{
    width: 15%;
    padding: 2px 0;
    border: 0;
    background: url('./images/search.png') 50% 50% no-repeat;
    background-size: auto 75%;
}
.container__slider{
    margin: 15px 0 0 0;
}
.slider{
    padding: 15px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
}
.slider_frame{}
.slider__slides{}
.slider__slide{}
.slide{width: 100%;display: block;}
.container__articles{
    margin: 15px 0 0 0;
}
.articles {display: flex;justify-content: space-between;}
.articles__article{width: 24%;}
.article{
    height: 100%;
    padding: 15px;
    background: white;
    box-shadow: 0 0 5px #000;
    box-sizing: border-box;
}
.article__photo{width: 100%;}
.article__text{
    margin: 10px 0;
    text-align: justify;
    font-size: 12pt;
    text-indent: 2.5em;
    color: #494948;
}
.container__content{
    margin: 15px 0 0 0;
}
.content{
    background: white;
    display: flex;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
    padding: 12px;
}
.content__photo{
}
.content__info{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 0 0 0 15px;
    /* font-family: 'Roboto Slab', serif; */
    font-size: 16pt;
}
.content__heading{
    display: inline-block;
    margin: 0;
    font-size: 18pt;
}
.content__text{
    display: inline-block;
    font-size: 12pt;
    text-indent: 30pt;
    text-align: justify;
    margin: 15px 0;
}

.content__more{
    display: flex;
    /* text-align: right; */
    flex-grow: 1;
    justify-content: flex-end;
    align-items: flex-end;
}
.content__link{
    display: inline-block;
    color: #5a5a5a;
    margin: 0;
    padding: 0;
}
.container__footer{
    margin: 20px 0 200px 0;
}
.footer{
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
    padding: 20px 12px;
}
.footer__menu{
    display: inline-block;
}
.footer__copyright{
    display: inline-block;
    font-size: 10pt;
    font-family: "Roboto Slab";
    font-weight: 400;
    color: #5a5a5a;   
}

@media screen  and (min-device-width: 700px) 
    and (max-device-width: 949px)  
{
body {background: radial-gradient(at top, #f7f6f5, #ada6a0);}

.container{
    width: 701px;
    margin: 0 auto;
}
.container__header{
    margin: 0;
}
.header{
    text-align: center;
}
.header__logo{
    display: inline-block;
}
.logo{}
.logo__image{
    vertical-align: bottom;
}
.container__navigation{
    margin: 5px 0 0 0;
}
.navigation{
    flex-direction: column;
}
.articles {flex-wrap: wrap;}
.articles__article{width: 49%;margin: 10px 0;}
}

@media screen  and (min-device-width: 450px)  
    and (max-device-width: 699px)
{
body {background: radial-gradient(at top, #f7f6f5, #ada6a0);}
/*
.menu_compact{
}
.menu_compact .menu__item{
    font-size: 10.8pt;
    font-family: "Roboto Slab";
    font-weight: 400;
}
.menu_compact .menu__link{
    padding: 2px 10px;
}
.menu_compact .menu__link:hover{
    padding: 2px 10px;
    background: none;
    color: #5a5a5a;
}
*/

.container{
    width: 451px;
    margin: 0 auto;
}
.container__header{
    margin: 0;
}
.header{
    text-align: center;
}
.header__logo{
    display: inline-block;
}
.logo{}
.logo__image{
    vertical-align: bottom;
}
.container__navigation{
    margin: 5px 0 0 0;
}
.navigation{
    flex-direction: column;
}
.slider {padding: 10px;}
.articles {flex-wrap: wrap;}
.articles__article{width: 100%;margin: 10px 0;}
.article {padding: 10px;}
.content {flex-wrap: wrap;padding: 10px;}
.content__photo {height: 100%;width: 100%;}
.content__info {margin: 10px 0;padding: 0;}
}